language: ruby
rvm:
  - 2.5.0
gemfile:
  - web_container/Gemfile
  - components/app_component/Gemfile
  - components/predictor/Gemfile
  - components/games_admin/Gemfile
  - components/teams_admin/Gemfile
  - components/prediction_ui/Gemfile
  - components/welcome_ui/Gemfile
before_install:
  - cd $(dirname $BUNDLE_GEMFILE)
script:
  - travis_retry ./test.sh